<template>
    <div class="alert alert-success text-center">
        <h1>נכון מאד!</h1>
        <hr>
        <button class="btn btn-primary" @click="onNextQuestion">שאלה הבאה</button>
    </div>
</template>
<style>

</style>
<script>

    export default{
        methods: {
            onNextQuestion() {
                this.$emit('confirmed');
            }
        }
    }
</script>
