<template>
    <!--<div class="container">-->
        <form>
            <!--<div class="row">-->
                <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                    <div class="form-group">
                        <label for="questions">כמה שאלות לשאול ?</label>
                        <input
                                type="number"
                                id="questions"
                                class="form-control"
                                v-model="quizData.questions">
                    </div>
                    <div class="form-group">
                        <label for="max">עד איזה מספר ? </label>
                        <input
                                type="number"
                                id="max"
                                class="form-control"
                                v-model="quizData.maxNumber"
                        >
                    </div>

                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                    <!--prevent will prevent the form submission  to server-->
                    <button @click.prevent="submitedd"
                            class="btn btn-primary">להתחיל!
                    </button>
                </div>
            </div>
        </form>
    <!--</div>-->
</template>
<script>
    export default{
        data(){
            return {
                quizData : {
                    maxNumber :20,
                    questions :10
                }
            };
        },
        methods :{
            submitedd(){
                this.$emit('prefSubmit', this.quizData);
            }
        }
    }
</script>