<template>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                <h1 class="text-center">שאלון לתלמיד הנבון</h1>
            </div>
        </div>
        <hr>
        <div class="row" v-if="start">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                <transition enterActiveClass="animated bounceInDown"
                            leaveActiveClass="animated bounceOutDown" mode="out-in">
                    <app-entry @prefSubmit="prefDone($event)"></app-entry>
                </transition>
            </div>
        </div>


        <div class="row" v-else>
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                <transition name="flip" mode="out-in">
                    <component :is="mode" @answered="answered($event)" @confirmed="mode = 'app-question'" @toStart="reset" :maxNumber="maxNumber"></component>
                </transition>

            </div>
        </div>
    </div>
</template>

<script>
    import Question from './components/Question.vue';
    import Answer from './components/Answer.vue';
    import Entry from  './components/Entry.vue';
    import Over from './components/Over.vue'

    export default {
        data() {
            return {
                mode: 'app-question',
                numOfQuestions :10,
                maxNumber :20,
                start :true,
                qCounter :0
            }
        },
        methods: {
            reset(){
              this.qCounter =0;
              this.start=true;
              this.mode= 'app-question';
            },
            answered(isCorrect) {
                if (isCorrect) {
                    if(this.qCounter < this.numOfQuestions){
                        this.qCounter++;
                        this.mode = 'app-answer';
                    }
                    else{
                        this.mode = 'app-over';
                    }

                } else {
                    this.mode = 'app-question';
                    alert('לא נכון, נסה שוב!');
                }
            },
            prefDone(quizData){
                this.numOfQuestions =  quizData.questions;
                this.maxNumber = quizData.maxNumber;
                console.log("first" + this.maxNumber);
                this.start =false;
                this.qCounter =1;
            }
        },
        components: {
            appQuestion: Question,
            appAnswer: Answer,
            appEntry : Entry,
            appOver :Over
        }
    }
</script>

<style>
    .flip-enter{

    }
    .flip-enter-active{
        animation: flip-in 0.5s ease-out forwards;
    }
    .flip-leave{

    }
    .flip-leave-active{
        animation: flip-out 0.5s ease-out forwards;
    }

    @keyframes flip-out {
        from{
            transform: rotateY(0deg);
        }
        to{
            transform: rotateY(90deg);
        }
    }
    @keyframes flip-in {
        from{
            transform: rotateY(90deg);;
        }
        to{
            transform: rotateY(0deg);
        }
    }
</style>

